*{
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
}
.main{ 
    height: 96vh;
    background-image: url(Assets/Images/IN-en-20240527-popsignuptwoweeks-perspective_alpha_website_large.jpg);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: max(1600px , 100vw);
    position: relative;
} 

.main .box{
    position: absolute;
    height: 97vh;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    top: 0;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 78vw;
    margin: auto;
    height: 90px;
}

nav img{
    width: 150px;
    position: relative;
    z-index: 1;
    color: darkred;
}

nav button{
    position: relative;
    z-index: 1;
}


.hero{
    height: calc(100%-62px);
    display: flex;
    margin-top: 14vw;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    color: white;
    position: relative;
    z-index: 1;
    font-family: poppins;
    gap: 20px;
}

.hero> :first-child{
    font-weight: 900;
    font-size: 48px;
    text-align: center;
}

.hero> :nth-child(2){
    font-size: 24px;
    font-weight: 400;
    text-align: center;
}
.hero> :nth-child(3){
    font-size: 20px;
    font-weight: 400;
    text-align: center;
}

.separation {
    height: 7px;
    background-color: rgb(46, 44, 44);
    position: relative;
    z-index: 20;
}

.btn{
    /* padding: 5px 20px; */
    border-radius: 5px;
    cursor: pointer;
}

.btn-red-sm{
    background-color: red;
    color: white;
    font-weight: bold;
    padding: 7px 20px;
    margin-left: 18px;
}

.btn-red{
    background-color: red;
    color: white;
    font-weight: bold;
    padding: 10px 30px;
    font-size: 25px;
}

.hero .hero-button{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.main input{
    /* padding: 25px 160px 8px 14px; */
    padding: 16px;
    padding-left: 15px;
    padding-right: 150px;
    font-size: 16px;
    border-radius: 5px;
    background-color: rgba(23, 23, 23, 0.7);
    border: 1px solid rgba(161, 153, 153, 0.5);
    color: white;
}

.main input::placeholder{
    color: white;
    opacity: 0.8;
}
.main input:focus{
    outline: none;
    border: 1px solid rgba(161, 153, 153, 0.5);
    }

.btn-lang{
    background-color: transparent;
    border: none;
    
}
select {
    background-color: rgba(23, 23, 23,0.1);
    padding: 6px 20px;
    color: white;
    font-weight: 700;
    font-size: 16px;
    border-radius: 5px;
}

select option{
    color: black;
}
.btn-lang svg{
    color: white;
}
.hero1{
    background-color: rgb(242, 16, 16);
    height: 80vh;
    max-width: 40vw;
    border: 2px solid  black;
}
.hero1text{
    font-size: 23px;
    color: white;
    font-family: poppins;
    position: relative;
    top: 35%;
    left: 26%;
}
.hero1text h1{
    font-weight: 900;
    line-height: 100px;

}
.hero1img{
    position: absolute;
    left: 760px;
    top: 780px;
    z-index: 1;
}
.hero1video{
    position: relative;
    left: 840px;
    top: 0px;
}
.hero2{
    background-color: rgb(90, 213, 116);
    height: 80vh;
    width: 43vw;
    /* position: absolute; */
}
.hero2text{
    font-size: 23px;
    color: white;
    font-family: poppins;
    position: relative;
    left: 130%;
    top: 15%;

}
.hero2img{
    position: absolute;
}
.connection{
    position: relative;
    top: 10%;
    left: 25%;
}
.connection .boxshot{
    position: relative;
    height: 100px;
    width: 330px;
    z-index: 1;
    border: 2px solid hsl(0, 1%, 35%);
    border-radius: 10px;
    display: flex;
    z-index: 1;
    top: 330px;
    left: 25%;
    background-color: black;
}
.boxshotimg{
    height: 80px;
    margin: 10px;  
}
.icon{
    position: relative;
    height: 50px;
    top: 20%;
    left: 70px;
}
.boxshottext{
    position: relative;
    top: 25%;
    left: 1%;
}
.strangerthings{
    color: white;
    font-size: 16px;
    font-weight: bold;
    font-family: poppins;

}
.downloading{
    color: rgb(99, 99, 216);
    font-family: poppins;
    font-size: 14px;
}

.hero2text h1{
    font-weight: 900;
    margin-bottom: 20px;
}
.hero3{
    background-color: rgb(131, 161, 216);
    height: 590px;
    width: 590px;
}

.hero3text{
    font-size: 23px;
    color: white;
    font-family: poppins;
    position: relative;
    top: 35%;
    left: 30%;
}
.hero3text h1{
    font-weight: 900;
    line-height: 100px;

}

.hero3img{
    position: absolute;
    z-index: 1;
    left: 50%;
    width: 100px;
    top: 275%;
}
.hero3video{
    position: relative;
    left: 880px;
}
.hero3video video{
    width: 400px;
}
.hero4{
    background-color: bisque;
    height: 590px;
    width: 590px;
}
.hero4img{
    position: absolute;
}
.hero4text{
    font-size: 23px;
    color: white;
    position: relative;
    left: 105%;
    top: 160px;
    font-family: poppins;

}
.hero4text h1{
    font-weight: 800;
    margin-bottom: 15px;   
}
.hero4text p{
    font-size: 22px;
}
